@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Open+Sans:ital,wght@0,400;1,300&family=Playfair+Display:wght@400;500;600;700&family=Poppins:wght@300;400;500;600&family=Roboto:ital,wght@0,300;0,500;0,700;1,400&family=Space+Mono&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #000;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

html, body, #root {
  overflow: hidden;
}

#header_menu {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px 16px 10px 16px;
  width: 100%;
  z-index: 2;
  background: linear-gradient(180deg, #042590, #03279ba6);

  .navigation {
    display: flex;
    list-style: none;

    li {
      a {
        display: flex;
        margin-left: 18px;

        svg {
          width: 24px;
          height: 24px;
        }
      }
    }
  }
}

#main_content {
  flex: 1;
  margin-top: auto;
  background: white;
  border-radius: 0 0 32px 32px;
  position: relative;
  z-index: 1;
  font-size: 44px;
  max-height: calc(100vh - 86px);
  overflow: hidden;

  .content_container {
    overflow-y: auto;
    height: 100%;
    overflow-x: hidden;
    position: relative;
  }
}

#bottom_navigation {
  background: linear-gradient(180deg, #042590 0%, #073FF6 100%);
  height: 118px;
  min-height: 118px;
  width: 100%;
  margin-top: -32px;
  padding-top: 50px;

  .content {
    display: flex;
    justify-content: space-between;
    padding: 0 16px;

    .item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      span {
        color: rgba(255, 255, 255, 0.86);
        font-size: 10px;
        font-weight: 400;
        margin-top: 5px;
      }

      svg {
        fill: white;
      }

      &.active {
        span {
          font-weight: 600;
        }
      }
    }

  }
}


#cards_list_wrapper {
  padding-top: 73px;
  border-radius: 0 0 32px 32px;
  background: linear-gradient(180deg, #042590 0%, #073FF6 100%);
  width: 100%;
  min-height: 415px;
  margin-bottom: 10px;
  position: relative;
  z-index: 1;

  .slick-track {
    display: flex;
  }

  .slick-arrow {
    display: none !important;
  }

  .slick-dots {
    bottom: -35px;

    button:before {
      content: none;
    }

    button {
      border-radius: 100px;
      background: white;
      opacity: 0.53;
      font-size: 0;
      width: 13px;
      height: 13px;
      transition: width 300ms 300ms, opacity 300ms;
    }

    li {
      width: 13px;
      display: inline-flex;
      justify-content: center;

      &.slick-active {
        width: 35px;

        button {
          width: 35px;
          transition: width 300ms, opacity 300ms 100ms;
          opacity: 1;
        }
      }
    }
  }

  .slick-list {
    padding-left: 8px;
  }

  .credit_card {
    padding: 0 8px;


    > div {
      background: #BFFF6F;
      width: 315px;
      height: 184px;
      border-radius: 30px;
      padding: 24px 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    &.credit_card_add_new {
      > div {
        background: linear-gradient(181deg, white 0%, #0024C2 100%);
      }
    }

    .chip {
      display: flex;
      justify-content: flex-end;
      margin-top: 32px;
    }

    .level {
      font-size: 14px;
    }

    .info {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;

      > div {
        display: flex;

      }
    }

    .credentials {
      display: flex;
      flex-direction: column;
    }

    .number {
      font-size: 14px;
      font-weight: 400;
      letter-spacing: 0.5px;
    }

    .expire_date {
      font-size: 12px;
      font-weight: 400;
    }

    .shop {
      display: flex;
      padding: 5px 9px;
      justify-content: center;
      align-items: center;
      border-radius: 100px;
      background: #FFF;
      font-size: 14px;
      font-weight: 400;
    }

    .balance_container {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
    }

    .balance {
      font-size: 14px;

      p {
        font-size: 28px;
        font-weight: 700;
      }

    }
  }
}

#level_info {
  border-radius: 16px;
  background: rgba(167, 167, 167, 0.36);
  backdrop-filter: blur(10px);
  height: 106px;
  position: absolute;
  top: 340px;
  left: 16px;
  z-index: 2;
  padding: 18px 12px;
  width: calc(100% - 32px);

  .earnings_count {
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
  }

  .progress {
    width: 100%;
    height: 9px;
    border-radius: 100px;
    background: #F0F0F0;
    margin: 13px 0 12px;
  }

  .progress_container {
    position: relative;
  }

  .progress_active {
    border-radius: 100px;
    background: #BFFF6F;
    height: 9px;
    position: absolute;
    top: 0;
    left: 0;
  }

  .current_level {
    color: #2D313D;
    font-size: 12px;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
  }
}

#gifts {
  display: flex;
  justify-content: space-between;
  margin-top: 52px;
  padding: 0 18px;

  .boost {
    border-radius: 10px;
    background: #D5D7F6;
    width: 112px;
    height: 42px;
    display: flex;
    align-items: center;
    padding: 8px 5px;

    img {
      width: 27px;
      height: 27px;
      margin-right: 7px;
    }

    span {
      font-size: 12px;
      font-weight: 400;
    }
  }
}

.hand {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 64px;
}

.boost_modal_overlay {
  width: 100%;
  height: 100vh;
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 22;
}


#game {
  background: rgb(238, 174, 202);
  background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
  height: 100vh;

  .health {
    color: #fd0274;

    svg {
      path {
        fill: #fd0274;
        stroke: #fd0274;

      }
    }
  }

  .power {
    color: #73ff00;

    svg {
      path {
        fill: #73ff00;
        stroke: #73ff00;

      }
    }
  }

  .spinner {
    color: #00ffc4;

    svg {
      path {
        fill: #00ffc4;
        stroke: #00ffc4;

      }
    }
  }

  .username {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;

    p {
      background: #B993D6; /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #8CA6DB, #B993D6); /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, #8CA6DB, #B993D6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      border-radius: 10px;
      padding: 10px 20px;
      color: black;
    }
  }

  .actions {
    display: flex;
    justify-content: space-between;
    padding: 40px 20px;

    > div {
      background: #7f96df;
      width: 100px;
      height: 100px;
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      svg {
        width: 30px;
        height: 30px;
      }
    }
  }

  .men {
    display: flex;
    align-items: center;
    justify-content: center;
    >div{
      //border: 1px solid red;
      width: 200px  ;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
    }
  }


  img {
    width: 150px;
    height: 170px;
    cursor: pointer;
  }
}
